{
  "DevMode": true,
  "HttpsForwardedHeaders": false,
  "DbConnectionSettings": {
    "Host": "host",
    "Port": "port",
    "Database": "db_name",
    "Username": "username",
    "Password": "password"
  },
  "SecretsSettings": {
    "BCryptSecret": "bcrypt_secret",
    "JwtSecret": "jwt_secret",
    "JwtValidIssuer": "you_issuer",
    "JwtValidAudience": "you_audience"
  },
  "RedisSettings": {
    "Host": "film-redis"
  },
  "MongoDbSettings": {
    "ConnectionString": "mongodb://username:password@host:27017",
    "DatabaseName": "you mongodb database name"
  },
  "RabbitConnectionSettings": {
    "Host": "film-rabbitmq",
    "UserName": "your rabbitmq username (RABBITMQ_DEFAULT_USER)",
    "Password": "your rabbitmq password (RABBITMQ_DEFAULT_PASS)"
  },
  "GoogleO2AuthSettings": {
    "ClientId": "your google o2 auth client id",
    "ClientSecret": "your google o2 auth client secret"
  },
  "OriginSettings": {
    "FrontendOrigin": "your frontend url"
  },
  "ElasticSettings": {
    "Uri": "http://film-elasticsearch:9200",
    "Username": "elastic",
    "Password": "your ELASTIC_PASSWORD"
  }
}