{
  "DevMode": true,
  "HttpsForwardedHeaders": false,
  "DbConnectionSettings": {
    "Host": "host",
    "Port": "port",
    "Database": "db_name",
    "Username": "username",
    "Password": "password"
  },
  "SecretsSettings": {
    "BCryptSecret": "bcrypt_secret",
    "JwtSecret": "jwt_secret",
    "JwtValidIssuer": "you_issuer",
    "JwtValidAudience": "you_audience"
  },
  "RedisSettings": {
    "Host": "you redis host"
  },
  "MongoDbSettings": {
    "ConnectionString": "mongodb://username:password@host:27017",
    "DatabaseName": "you mongodb database name"
  },
  "RabbitConnectionSettings": {
    "Host": "your rabbit host",
    "UserName": "your rabbitmq username",
    "Password": "your rabbitmq password"
  },
  "GoogleO2AuthSettings": {
    "ClientId": "your google o2 auth client id",
    "ClientSecret": "your google o2 auth client secret"
  },
  "OriginSettings": {
    "FrontendOrigin": "your frontend url"
  },
  "ElasticSettings": {
    "Uri": "your elasticsearch connection uri",
    "Username": "your elasticsearch username",
    "Password": "your elasticsearch user password"
  }
}
