server {
    server_name filmograf.online www.filmograf.online;

    location ^~ /signin-google {
        proxy_pass http://localhost:5090;

        proxy_http_version 1.1;
        proxy_set_header Connection "";

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_request_buffering off;

        proxy_read_timeout 300;
        proxy_send_timeout 300;
        send_timeout 300;

        client_max_body_size 100m;
    }

    location ^~ /api/auth/ {
        proxy_pass http://localhost:5090;

        proxy_http_version 1.1;
        proxy_set_header Connection "";

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_request_buffering off;

        proxy_read_timeout 300;
        proxy_send_timeout 300;
        send_timeout 300;

        client_max_body_size 100m;
    }

    location ^~ /api/comments/ {
        proxy_pass http://localhost:5092;

        proxy_http_version 1.1;
        proxy_set_header Connection "";

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_request_buffering off;

        proxy_read_timeout 300;
        proxy_send_timeout 300;
        send_timeout 300;

        client_max_body_size 100m;
    }

    location ^~ /api/genres/ {
        proxy_pass http://localhost:5091;

        proxy_http_version 1.1;
        proxy_set_header Connection "";

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_request_buffering off;

        proxy_read_timeout 300;
        proxy_send_timeout 300;
        send_timeout 300;

        client_max_body_size 100m;
    }

    location ^~ /api/movies/ {
        proxy_pass http://localhost:5091;

        proxy_http_version 1.1;
        proxy_set_header Connection "";

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_request_buffering off;

        proxy_read_timeout 300;
        proxy_send_timeout 300;
        send_timeout 300;

        client_max_body_size 100m;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/filmograf.online/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/filmograf.online/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = www.filmograf.online) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = filmograf.online) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name filmograf.online www.filmograf.online;
    return 404; # managed by Certbot
}