{
  "RedisSettings": {
    "Host": "your redis host"
  },
  "RabbitConnectionSettings": {
    "Host": "your rabbit host",
    "UserName": "your rabbitmq username",
    "Password": "your rabbitmq password"
  }
}

