{
  "SecretsSettings": {
    "BCryptSecret": "bcrypt_secret"
  },
  "RedisSettings": {
    "Host": "you redis host"
  },
  "RabbitConnectionSettings": {
    "Host": "your rabbit host",
    "UserName": "your rabbitmq username",
    "Password": "your rabbitmq password"
  }
}
